<section class="row">
    <article class="col-md-12">
        <h1><a href="{{legislator.url}}">{{legislator.full_name}} - ({{legislator.party}})</a></h1>
        <img src="{{legislator.photo_url}}" alt="{{legislator.full_name}}" class="img-rounded img-responsive" style="width: 30%;">
        <ul class="list-unstyled">
            <li>Chamber: {{legislator.chamber}}</li>
            <li>District: {{legislator.district}}</li>
            <li>Email: <a href="mailto:{{legislator.email}}">{{legislator.email}}</a></li>
            <li>
                Social Media:
                <ul>
                    <li ng-repeat="social in legislator.social_media"><a href="{{social.link}}">{{social.title}}</a></li>
                </ul>
            </li>
            <li>
                Offices:
                <ul>
                    <li ng-repeat="office in legislator.offices">{{office}}</li>
                </ul>
            </li>
        </ul>
        <h2>Sponsored Legislation</h2>
        <div class="table-responsive">
            <table class="table table-bordered">
                <tr>
                    <th>Bill</th>
                </tr>
                <tr ng-repeat="bill in sponsoredBills">
                    <td><a href="#/bills/{{bill.id}}">{{bill.bill_id}}</a> - {{bill.title}}</td>
                </tr>
            </table>
        </div>
        <h2>Voting History</h2>
        <div class="table-responsive">
            <table class="table table-bordered">
                <tr>
                    <th>Bill Name</th>
                    <th>Vote</th>
                </tr>
                <tr ng-repeat="vote in votes">
                    <td><a href="#/bills/{{vote.billId}}">{{vote.bill_id}}</a> - {{bill.title}}</td>
                    <td>{{vote.vote}}</td>
                </tr>
            </table>
        </div>
    </article>
</section>
