<section class="row">
    <div class="col-md-12">
        <h1>Oklahoma State Legislators</h1>
        <div class="form-group">
            <label for="nameInput">Search by Name</label>
            <input class="form-control" id="nameInput" placeholder="Enter name" ng-model="last_name.last_name">
        </div>
        <!-- <div class="form-group">
            <label for="zipInput">Search by Zipcode</label>
            <input class="form-control" id="nameInput" placeholder="Enter zip">
        </div> -->
        <div class="form-group">
            <label for="">Search by Party</label>
            <select id="partyInput" class="form-control" ng-model="party.party">
                <option value="">Select Party</option>
                <option value="Republican">Republican</option>
                <option value="Democratic">Democratic</option>
            </select>
        </div>
        <div class="form-group">
            <label for="">Search by Chamber</label>
            <select id="chamberInput" class="form-control" ng-model="chamber.chamber">
                <option value="">Select Chamber</option>
                <option value="upper">Upper</option>
                <option value="lower">Lower</option>
            </select>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered">
                <tr>
                    <th>Name</th>
                    <th>Party</th>
                    <th>District</th>
                    <th>Chamber</th>
                </tr>
                <tr ng-class="{ 'info': legislator.party == 'Democratic', 'danger': legislator.party == 'Republican'}" ng-repeat="legislator in legislators | filter:last_name:strict | filter:party:strict | filter:chamber:strict">
                    <td><a href="#/legislators/{{legislator.id}}">{{legislator.last_name}}</a></td>
                    <td>{{legislator.party}}</td>
                    <td>{{legislator.district}}</td>
                    <td><a href="#/chamber">{{legislator.chamber}}</a></td>
                </tr>
            </table>
        </div>
    </div>
</section>
